<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-success bg-success navbar-expand-lg fixed-top">
        <div class="container">
            <div class="navbar-brand bg-success d-flex align-items-center">
                <img src="~/images/logo.png" alt="Logo" style="height: 30px;">
                @Html.ActionLink("Tienda Delivery", "Index", "Home", new { area = "" }, new { @class = "nav-link fw-bold text-white bg-success" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        @Html.ActionLink("Ofertas", "Index", "Home", new { }, new { @class = "nav-link text-white bg-success" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Nosotros", "About", "Home", new { }, new { @class = "nav-link text-white bg-success" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contactenos", "Contact", "Home", new { }, new { @class = "nav-link text-white bg-success" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Clientes", "ListaClientes", "Cliente", new { }, new { @class = "nav-link text-white bg-success" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Pedidos por Fechas", "PedidosFechas", "Cliente", new { }, new { @class = "nav-link text-white bg-success" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content" style="margin-top: 70px; background-color: white;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
