@model IEnumerable<Dominio.Entidades.Cliente>

@{
    ViewBag.Title = "ListaClientes";
}

<h2>Lista de Clientes</h2>

<h2><img src="~/images/clientes.png" width="100" height="100" />Listado de Clientes</h2>
<p>
    <img src="~/images/add.gif" /> @Html.ActionLink("Nuevo Cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Idcliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idpais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Idcliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idpais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            <img src="~/images/edit.gif"  />
            @Html.ActionLink("Editar", "Edit", new {  id=item.Idcliente }) |
            <img src="~/images/find.gif" />
            @Html.ActionLink("Ver Detalle", "Details", new { id=item.Idcliente }) |
            <img src="~/images/delete.gif" />
            @Html.ActionLink("Eliminar", "Delete", new {  id=item.Idcliente })
        </td>
    </tr>
}

</table>
<div>
    @for (int i = 0; i < ViewBag.numreg; i++)
    {
        @Html.ActionLink((i + 1).ToString(),
                    "ListaClientes",
                    new { pag = i },
                    new { @class = "btn btn-primary" }
            );
    }
</div>