@model IEnumerable<WebAppTiendaDelivery.Models.Pedido>

@{
    ViewBag.Title = "PedidosCliente";
    var listaClientes = (SelectList)ViewBag.listaClientes;
}

<h2>PedidosCliente</h2>
@using (Html.BeginForm())
{ 
    <strong> Seleccione el Cliente</strong>
    @Html.DropDownList("idCliente",listaClientes)
    <input type="submit" value="Consultar" />
}

@*<p>
    @html.actionlink("create new", "create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DireccionDestinatario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CiudadDestinatario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaisDestinatario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MontoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DireccionDestinatario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CiudadDestinatario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaisDestinatario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MontoTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado)
        </td>
        <td>
        </td>
    </tr>
}

</table>

<div>

    @for (int i = 0; i < ViewBag.numPagina; i++)
    {
        @Html.ActionLink((i + 1).ToString(),
                 "PedidosCliente",
                 new { pag = i, fecInicio = ViewBag.fecInicio, fecFin = ViewBag.fecFin },
                 new { @class = "btn btn-primary" });

    }

</div>
